<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>
      <form action="/shorten" method="POST" class="m-2 my-3 row form-inline">
        <label for="originalURL" class="sr-only">URL</label>
        <input
          type="url"
          name="originalURL"
          id="originalURL"
          placeholder="url"
          required
          class="mr-2 form-control col"
        />
        <button class="btn btn-success" type="submit">Shorten</button>
      </form>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach(url => { %>
          <tr>
            <td><a href="<%=url.originalURL %>"><%=url.originalURL %></a></td>
            <td><a href="<%=url.shortenedURL%>"><%=url.shortenedURL%></a></td>
            <td><%=url.clicks%></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
